<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K6MGT99');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>chainizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body data-spy="scroll" data-target="#navbar-content" data-offset="100">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6MGT99"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->
<header id="presentation" class="jumbotron jumbotron-fluid d-flex mb-0">
    <div class="container align-self-center text-light">
        <h1>chainizer</h1>
        <hr class="bg-white">
        <p class="lead">blockchain and solutions</p>
    </div>
</header>

<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="">chainizer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#solutions">solutions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <section id="solutions" class="jumbotron jumbotron-fluid d-flex">
        <div class="container align-self-center">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">
                            payment
                        </h4>
                        <p class="card-text text-justify">
                            An alternative payment platform based on bitcoin, bitcoin cash, ethereum and litecoin.
                            The platform is anonymous, secured and fully open source.
                        </p>
                        <a href="https://payment.chainizer.com" class="card-link">Discover the platform</a>
                    </div>
                </div>
                <div class="card disabled" data-toggle="tooltip" data-placement="bottom" title="coming soon">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">
                            invoice
                        </h4>
                        <p class="card-text text-justify">
                            An online service to manage invoices with ease.
                            The service allow online payment with bitcoin, bitcoin cash, ethereum, litecoin and paypall.
                            The service is fully open source.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <i class="fa fa-fw fa-link"></i>
            <a href="https://chainizer.com">
                chainizer.com
            </a>
        </li>
        <li class="list-inline-item">
            <i class="far fa-fw fa-handshake"></i>
            <a href="https://payment.chainizer.com">
                payment.chainizer.com
            </a>
        </li>
        <li class="list-inline-item">
            <i class="far fa-fw fa-envelope"></i>
            <a href="mailto:payment@chainizer.com">
                contact@chainizer.com
            </a>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-fw fa-gitlab"></i>
            <a href="https://gitlab.com/chainizer" target="_blank">
                gitlab.com/chainizer
            </a>
        </li>
    </ul>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20179310-11"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-20179310-11');
</script>

</body>
</html>