$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$jumbotron-padding: 3rem;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/fa-regular";
@import "~@fortawesome/fontawesome-free/scss/fa-solid";
@import "~@fortawesome/fontawesome-free/scss/fa-brands";

@mixin jumbotron-img($name, $position: center center, $attachment: fixed, $min-height: auto, $layout: wide) {
  @include media-breakpoint-up(xs) {
    background-image: url("./img/bg-#{$name}-#{$layout}-md.jpg");
  }
  @include media-breakpoint-up(sm) {
    background-image: url("./img/bg-#{$name}-#{$layout}-md.jpg");
  }
  @include media-breakpoint-up(md) {
    background-image: url("./img/bg-#{$name}-#{$layout}-md.jpg");
  }
  @include media-breakpoint-up(lg) {
    background-image: url("./img/bg-#{$name}-#{$layout}-lg.jpg");
  }
  @include media-breakpoint-up(xl) {
    background-image: url("./img/bg-#{$name}-#{$layout}-xl.jpg");
  }
  @media (min-width: 2000px) {
    background-image: url("./img/bg-#{$name}-#{$layout}-xxl.jpg");
  }
  @media (min-width: 3000px) {
    background-image: url("./img/bg-#{$name}-#{$layout}-xxxl.jpg");
  }
  @media (min-width: 4000px) {
    background-image: url("./img/bg-#{$name}-#{$layout}-xxxxl.jpg");
  }
  background-position: $position;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: $attachment;
  min-height: $min-height;
}
